/* j'ai changé la coleur de background en blue et le padding haut et bas */
header{
  background-color:#3a5795;
  padding:15px 0;
}
/*j'ai surchargé le style de boutton celle de bootstrap en changeant la couleur du text le background(hérité de son parent) ainsi la couleur de bordure*/
.btn-primary {
    color: #fff;
    background-color: inherit;
    border-color: #3a5795;
}
/*j'ai changé la couleur, la taille et le style d'écriture celle des labels et le text entouré d'un span dans le boutton*/
label, .btn-primary span{
   color: #fff;
font-size:14px;
font-family: monospace;
}
/**/
.col-md-3 span{
  color: #fff;
  font-size:24px;
  font-weight:bold;
}
/*j'ai défint une image comme background de body ainsi sa taille (couvre tout le body)*/
body{
  background:url('../images/fb.jpg') no-repeat;
  background-size: cover;
}
/*j'ai ajouté une nouvelle classe afin de remplacer la couleur bleu celle de bootstrap par la couleur vert */
.btn-ins{background-color: #69a74e;}
/*j'ai augumenté le margin dela formulaire située dans la div d'id container afin d'avoir un espace entre le header et la div container*/
.container form{margin:30px 0;}
