/* j'ai changé la coleur de background en blue et le padding haut et bas */
header{
  background-color:#3a5795;
  padding:15px 0;
}
/*j'ai surchargé le style de boutton celle de bootstrap en changeant la couleur du text le background(hérité de son parent) ainsi la couleur de bordure*/
.btn-primary {
    color: #fff;
    background-color: inherit;
    border-color: #3a5795;
}
/*j'ai changé la couleur, la taille et le style d'écriture celle des labels et le text entouré d'un span dans le boutton*/
label, .btn-primary span{
   color: #fff;
font-size:14px;
font-family: monospace;
}
/**/
.fb,.me{
  color: #fff;
  font-weight:bold;
}
.fb{
  font-size:24px;
}
/*j'ai défint une image comme background de body ainsi sa taille (couvre tout le body)*/
body #main{
  background:url('../images/fb.jpg') no-repeat;
  background-size: cover;
}
/*j'ai ajouté une nouvelle classe afin de remplacer la couleur bleu celle de bootstrap par la couleur vert */
.btn-ins{background-color: #69a74e;}
/*j'ai augumenté le margin dela formulaire située dans la div d'id container afin d'avoir un espace entre le header et la div container*/
.container form{margin:30px 0;}
/*surchage de la classe navbar-inverse*/
.navbar-inverse {
  background-color:#3a5795;
    border-color: #3a5795;
}
/*j'ai définit le style de la barre de recherche:largeur responsive longueur de 28px les points de la bordure sont ronds...*/
.search {
display: block;
width: 80%;
height: 28px;
border-radius: 7px;
margin-top: 13px;
margin-right: 180px;
}
/*surcharge de la class badge de bootstrap en ajoutant un margin-bottom pour déplacer la badge vers le haut
 et j'ai ignoré l'alignement de badge et de l'image */
.badge {
  margin-bottom:12px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  background-color:red;
}
