
<div ng-include="'pages/navbar-top.html'"></div>
<div class="row">
<div class="col-md-2 col-md-offset-1">
  <div>
    <img src="images/me.png"/>
    <span>{{fullName}}</span>
  </div>
  <br>
  <div>
    <img src="images/write.png"/>
    <a ui-sref="profil"><span>Modify profil</span></a>
  </div>
<div >
<h4>Favourites</h4>
<ul class="list-unstyled" ng-repeat="fav in favoris" >
<li>{{fav}}</li>
</ul>
</div>

<div >
<h4>Groups</h4>
<input type="search" ng-model="lett">
<ul class="list-unstyled" ng-repeat="gr in groups | filter:lett" >
<li>{{gr}}</li>
</ul>
</div>

</div>


<div class="col-md-7">

<div class="home-content" >
<img src="images/me.png">
  <textarea  rows="2" cols="5" class="form-control" placeholder="Create a new status"ng-model="newStatus" /></textarea>
  <button type="submit" ng-click="getStatus()" class="btn btn-primary">Publish</button>
</div>

<div ng-show="stat" ng-repeat="st in status" id="stat-content">
<img src="images/me.png">
<label > <span style="color:#000">{{st}}</span>  </label>
<a><img class="like"src="images/like.png"> Like</a>
  </div>

</div>
<div class="col-md-2">
<fieldset>
  <ul>
    <li>hhhhh</li>
    <li>hhhhhhhhh</li>
  </ul>
</div>
</fieldset>
</div>
